@import "./global.css";

body {
  font-family: "Inter", sans-serif;
}

.tittle {
  font-weight: 800;
}

.tittle.lg {
  font-size: 3rem;
}

.tittle.md {
  font-size: 2.5rem;
}

.tittle.sm {
  font-size: 1.375rem;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
}

.link {
  font-size: 1rem;
  font-weight: 600;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
