.liCard {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  border: 0.0625rem solid var(--color-greyScale-white);
  border-radius: 1rem;
  width: 17.5rem;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  align-items: center;
}
